* {
    box-sizing:border-box;
}

body {
    background-color: white;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-header {
    /* background-color: black; */
    background-color: rgb(2, 2, 36);
    color: white;
    padding: 20px 0 5px;
    border-bottom: solid 10px white;
}

.nav-header .icon {
    width: 40px;
    margin-right: 15px;
    padding-bottom: 15px;
}

.nav-header .logo {
    font-size: 30px;
    font-weight: 600;
    color: white;  
}

.nav-header a {
    text-decoration: none;
    color: white;
}

.nav-header nav {
    margin-left: auto; 
}

.nav-header nav ul {
    margin:0;
    padding:0;
} 

.nav-header nav ul li {
    display: inline-block;
    font-size: 20px;
    padding: 7px 15px;
    border-bottom: solid 4px transparent;
    border-radius: 6px 6px 0 0;
    transition: all 0.9s;       
}

.nav-header ul li:hover {
    border-bottom: solid 4px white;
    background-color: rgba(255,255,255,0.5);
    color: yellow;
}

.nav-header ul a:hover {
    color: yellow;
}

.nav-header .hamburger {
    display: none;
}


@media (max-width: 991px) {
    .nav-header .hamburger {
        display: block;
        font-size: 55px;
        margin-left: auto;
     }
    

     .nav-header nav {
         position: absolute;
         top: 117px;
         left: -500px;
         /* background-color: black; */
         background-color: rgb(2, 2, 36);
         width: 50%;
         padding: 10px 0 10px 20px;
         z-index: 1000;
         transform: translateX(0);
         transition: transform 1s;  
     }
    
    .nav-header nav.open {
         transform: translateX(500px);
        }
    
    .nav-header nav ul li {
        display: block;
        font-size: 35px;
     }

     .tour-overview h2 {
        margin-top: 20px;     
    }

}



.hero-image {
    background: url(../images/balmain-harbour.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
}

.tour-overview {
    text-align: center;
    padding: 40px 0 10px;
    margin-top: 30px;
}

.tour-overview h2 {
    font-weight: 600; 
    margin-bottom: 50px;  
    color:  rgb(39, 38, 38);
}

.tour-overview p {
    margin: 30px 0 40px;  
}


.featured-tours {
    text-align: center;
}

.featured-tours a {
    text-decoration: none;
    color: white;
}

.featured-tours .container {
    padding: 20px 0 10px;
}

.featured-tours h2 {
    font-family: 'Crete Round', serif;
    color:  rgb(39, 38, 38);
    padding-bottom: 40px;
    font-weight: 400;
    font-size: 50px; 
}

.featured-tours .zoom img {
border-radius: 8px;
}

.featured-tours .zoom:hover {
  transform:scale(0.95);
}

.featured-tours h4 {
    padding-top: 15px;
}

.featured-tours .button {
    text-decoration: none;
    width: 175px;
}

.featured-tours .button-center {
    text-align: center;
}

.featured-tours .row>div {
    margin-bottom: 15px;
}
.strap-image {
    background: url(../images/riverview.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
    margin-top: 40px;
    border-bottom: solid 10px white;
}


.footer {
    background-color: rgb(2, 2, 36);
    height: 300px;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

.footer ul {
    padding: 0;
    font-size: 50px;
}

.footer ul li {
    display: inline-block;
}

.button {
    /* background-color: rgb(39, 38, 38); */
    background-color: rgb(53, 53, 90);
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    padding: 10px 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    color: white;
}



/* ...................CSS for Walk page here ................................... */


.walk-image {
    background: url(../images/balmain-sunset.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
}


.walk-overview {
    background-color:white;
    padding: 30px;
    margin-top: 25px;
}


.walk-overview .first h4 {
    font-family: 'Crete Round', serif;
    color:  rgb(39, 38, 38);
    font-size: 40px;
}


.walk-overview .second {
    padding-left: 23px;
}

.walk-overview .second h5 {
    background-color: #ececec;
    font-weight: 600;
    margin: 0;
    padding: 10px 10px 0 15px;
    border-top: 2px solid #ececec;
    border-left: 2px solid #ececec;
    border-right: 2px solid #ececec;
    border-radius: 8px 8px 0 0;
}

.walk-overview .second ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #ececec;
    border-bottom: 2px solid #ececec;
    border-left: 2px solid #ececec;
    border-right: 2px solid #ececec;
    border-radius: 0 0 8px 8px;
}

.walk-overview .second ul li {
    margin: 0;
    padding: 10px 0;
    font-size: 15px;
}

.walk-overview .second ul li i {
    margin: 0;
    padding: 0 5px;
}

.walk-overview .second ul li strong {
    padding: 0 3px 0 5px;
}


.walk-overview .second img {
   width: 70%;
   padding: 15px;
   margin: 30px;
}

.walk-map {
    margin-top: 10px;
    border-bottom: solid 10px white;
}

.walk-faq {
     border-bottom: solid 10px white;
}

.walk-faq .title {
    font-family: 'Crete Round', serif;
    color:  rgb(39, 38, 38);
    font-size: 55px;
    padding: 20px;
    border-bottom: 5px solid black;
}

.walk-faq .qa {
    padding: 20px; 
}

.walk-faq .qa .question h2{
    font-size: 25px;
}

.walk-faq .question {
    border-bottom: 2px solid black;
}

.walk-faq .answer {
    background-color:#ececec;
    padding: 20px;
}

.walk-faq h2 span {
    float: right;
    transition: transform 1s;
}

.walk-faq h2 span.open {
    transform: rotate(180deg);
}


/* ...................CSS for carousel here ................................... */


.slick-prev, .slick-next {

    height: 100%;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 04.s, color 0.4s;

    position: absolute;
    top: 0;

    z-index: 999;
    font-size: 60px;

  }


  .slick-next {
    right: 0;
  }

  .slick-next:hover {
    color: white;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
}


  .slick-prev:hover {
    color: white;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );

  }

  .slick-dots {
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .slick-dots li {
    background: white;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.6);
  }


.slick-dots button {
  display: none;
}


.mySlide {
    width:100%;
    height:600px;
    /* border:solid 1px red; */
    overflow:hidden;
  }


  @media (max-width:1155px) {
    .mySlide, .myCarousel, .slick-slide  {
        height: 500px;
    }
  }

  @media (max-width:985px) {
    .mySlide, .myCarousel, .slick-slide  {
        height: 400px;
    }
  }

  @media (max-width:767px) {
    .mySlide, .myCarousel, .slick-slide  {
        height: 300px;
    }
  }

  
  
  .mySlide img {
    width:100%;
    transform:translateY(-12%);
  }

  @media (max-width:498px) {
    .mySlide img {
        height: 300px;
        width: auto;
        transform:translateX(-12%)
    }
  }